@import "tailwindcss";

/* @plugin "@tailwindcss/forms";
@plugin "@tailwindcss/container-queries"; */

@theme {
  /* Colors */
  --color-on-secondary-fixed: #003a48;
  --color-error: #b31b25;
  --color-primary-fixed: #00e0fd;
  --color-on-tertiary-fixed-variant: #003874;
  --color-tertiary-fixed: #84b1ff;
  --color-primary-fixed-dim: #00d1ec;
  --color-on-secondary-container: #004e61;
  --color-tertiary-container: #84b1ff;
  --color-outline-variant: #82b4c8;
  --color-surface-container-high: #b6eaff;
  --color-primary-container: #00e0fd;
  --color-on-background: #003441;
  --color-inverse-surface: #001017;
  --color-error-dim: #9f0519;
  --color-on-surface: #003441;
  --color-primary: #006573;
  --color-surface-container: #c6efff;
  --color-tertiary: #005ab3;
  --color-surface: #ebf9ff;
  --color-secondary-dim: #00576c;
  --color-on-secondary-fixed-variant: #00586d;
  --color-background: #ebf9ff;
  --color-secondary: #00647b;
  --color-on-primary-fixed-variant: #005561;
  --color-on-tertiary-container: #003064;
  --color-surface-dim: #90e0fc;
  --color-on-primary: #daf8ff;
  --color-secondary-container: #7fdeff;
  --color-surface-variant: #a5e6ff;
  --color-tertiary-dim: #004e9d;
  --color-surface-container-low: #ddf5ff;
  --color-secondary-fixed-dim: #35d4ff;
  --color-error-container: #fb5151;
  --color-on-tertiary: #eff2ff;
  --color-on-error: #ffefee;
  --color-on-primary-fixed: #00363e;
  --color-tertiary-fixed-dim: #6aa3ff;
  --color-on-tertiary-fixed: #001737;
  --color-on-primary-container: #004b56;
  --color-inverse-primary: #00e0fd;
  --color-surface-container-highest: #a5e6ff;
  --color-secondary-fixed: #7fdeff;
  --color-outline: #4c7e8f;
  --color-on-error-container: #570008;
  --color-surface-bright: #ebf9ff;
  --color-surface-tint: #006573;
  --color-on-surface-variant: #2e6273;
  --color-primary-dim: #005865;
  --color-surface-container-lowest: #ffffff;
  --color-on-secondary: #e2f6ff;
  --color-inverse-on-surface: #72a4b7;

  /* Fonts */
  --font-headline: 'Plus Jakarta Sans', sans-serif;
  --font-body: 'Lexend', sans-serif;
  --font-label: 'Lexend', sans-serif;

  /* Border Radius */
  --radius-DEFAULT: 1rem;
  --radius-lg: 2rem;
  --radius-xl: 3rem;
  --radius-full: 9999px;
}

@layer base {
  body {
    font-family: 'Lexend', sans-serif; /* Explicit fallback base styling */
    background-color: var(--color-background);
    color: var(--color-on-background);
    min-height: max(884px, 100dvh);
  }

  .hide-scrollbar::-webkit-scrollbar {
    display: none;
  }

  .hide-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}

@layer utilities {
  .material-symbols-outlined {
    font-variation-settings: 'FILL' 0, 'wght' 400, 'GRAD' 0, 'opsz' 24;
    display: inline-block;
    line-height: 1;
  }
}



